@model RotatingChores.Models.ChoreDoerModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ChoreDoerModel</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaxDifficulty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxDifficulty)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Chores)
        </dt>
        @foreach (var chore in Model.Chores)
        {
            <dd>
                @Html.DisplayFor(modelItem => chore.Name)
            </dd>
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.ChoreDoerId  }) |
    @Html.ActionLink("Back to List", "Index")
</p>
