@model RotatingChores.Models.ChoreModel


    <h4 class="panel-heading">Chore Detail</h4>
    <dl class="dl-horizontal @ViewBag.Background">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Difficulty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Difficulty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssignedTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignedTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastCompleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastCompleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastCompletedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastCompletedBy)

        </dd>

    </dl>

